.logo {
    pointer-events: none;
    height: auto;
    width: 100%;
    position: absolute;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  