.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  height: 750px;
  position: absolute
}

.App-header {
  background-color: black;
  /* background-color: #101011; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.txt {
  font-size: 15px;
  font-family: Courier New, monospace;
  position: fixed;
  bottom: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
